<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Cadastro de Clientes</h4>
      </div>
      <form name="editForm" [formGroup]="editForm" novalidate (ngSubmit)="save(editForm)">
        <div class="form-group">
          <label>Nome do Cliente</label>
          <input type="text" class="form-control" formControlName="nome">
          <small *ngIf="!editForm.controls.nome.valid" class="text-danger">
            Nome deve ter ao menos  5 caracteres.
          </small>
        </div>
        <!--
            Aqui vão os endereços
            Observe que está sendo injetado aqui <jhi-endereco>
            a variável umEndereco está sendo atribuída a isesimoEndereco
            que é o parâmetro de entrada @Input para o componente endereco.component.ts  
        -->
        <div formArrayName="enderecos">
          <div *ngFor="let umEndereco of editForm.controls.enderecos.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Endereço {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right"
                *ngIf="editForm.controls.enderecos.controls.length > 1" (click)="removerEndereco(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <jhi-endereco [iesimoEndereco]="umEndereco"></jhi-endereco>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="adicionarEndereco()" style="cursor: default">
            Adicionar outro endereço +
          </a>
        </div>

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!editForm.valid">Gravar</button>
        </div>
      </form>
    </div>
  </div>
</div>